# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# PyCharm project settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variable files
.env
.env.*

# VS Code (optional)
.vscode/

# macOS and Linux system files
.DS_Store
*.swp

version.json